<div class="jumbotron">
  <%#= link_to image_tag('600_400.png'), 'www.mashrurhossain.com' %>
  <h1>Welcome to Home Page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
