<footer class="footer">
    <div class="container">
        <span class="text-muted">Made with &#9829; by <a href="https://twitter.com/MacgyverMartins" target="_blank">@MacgyverMartins</a> </span>
    </div>
</footer>
